@model IEnumerable<RegistroIntegral.DAL.Profesor>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prof_Rpm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prof_Nextel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prof_Especialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Per_Dni)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prof_Rpm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prof_Nextel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prof_Especialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Per_Dni)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Prof_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Prof_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Prof_Id })
        </td>
    </tr>
}

</table>
